<html>
<style>
body {
  font-size: 12px;
  font-family: Verdana, sans-serif;
}
</style>
<body>
    <span style="font-size:40px; font-family: 'Courier New', monospace;">&#129297; Zach's REI Calculators &#129297;</span> 

    <ul>
        <li><a href='https://zdahlgren.pythonanywhere.com/calculate_dscr'>DSCR calculator</a></li>
        <li>placeholder...</li>
      </ul>
      
      
      <a href="https://github.com/zdahlgren/zilla"><img src="{{url_for('static', filename='octocat.png')}}" alt="Octocat" height="50" width="50" title="Click to see GitHub project"> </img></a>
</body>
</html>